table {
  border: 2px solid black;
  height : 133px;
  text-align: center;
  padding: 8px;
  border-radius: 20px;
  width: 100%;

}
td {
  padding: 5px;
  border: 2px solid black;
}
tr:hover {
  background-color: #A9BCF5;
}
body {
  margin: 10px;
  font: 14px Arial;
  color: darkblue;
}

thead{
  font-size: 20px;
  color: darkblue;;
  text-align: center;
  font-weight: bold;
}
head{
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #aaaaaa;
}
