<div class="pageInfirmier" >
  <mat-toolbar color="primary">
    <mat-icon>home</mat-icon>
    <div class="headcabinet">
      <h1> Le voyageur de santé :  IHM de la secrétaire</h1>
    </div>
    <div class="menucabinet">
      <button mat-icon-button [mat-menu-trigger-for]="menu" >
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item (click)="Appelformulaire()">Ajouter un Patient</button>
  </mat-menu>
  <app-infirmier></app-infirmier>
</div>



